.boton{
    text-decoration: none;
    background-color: green;
    color: whitesmoke;
    padding: 20px;
    display: block;
    width: 200px;
    text-align: center;
    margin: 100px auto;
    border: 5px solid blue;
    font-weight: bold;
    transition: all 2s;
}

.boton:hover{
    background-color: orange;
    border: 5px solid red;
    border-radius: 15px;
}